.main-container {
  display: flex;
  z-index: 1;
  position: relative;
}

.main-container .profile {
  padding-top: 50px;
}

.main-container .profile h1 {
  margin-bottom: 20px;
  margin-top: 0;
  font-size: 48px;
  font-weight: 500;
}

.main-container .profile h1 span {
  color: var(--color-4);
}

.main-container .profile p {
  padding-bottom: 30px;
  font-size: 18px;
  font-weight: 400;
}

.main-container .container {
  width: 100%;
  padding: 90px 100px 30px 215px;
}

.main-container .activity h3 {
  font-size: 15px;
  font-weight: 500;
}

.main-container .container .container-chart {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main-container .container .container-chart .cards-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 30px;
}

.main-container .container .container-stats {
  display: flex;
  column-gap: 30px;
}

.main-container .container .container-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 1300px) {
  .main-container .container {
    padding: 90px 20px 90px 135px
  }

  .main-container .container .container-stats {
    flex-direction: column;
    row-gap: 30px;
  }
  .main-container .container .container-information {
    flex-direction: row;
    column-gap: 20px;
  }
  .main-container .container .container-information .information {
    width: 100%;
  }
}
